*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.fix {
  position: fixed !important;
  margin-right: 5.555555%;
  top: 0;
  width: 100%;
  z-index: 100;
}

.head {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/banner.jpg");
  background-attachment: fixed;
}

.navigator {
  height: 10%;
  background-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #eee;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.nav-link {
  /* font-size: 1.6rem; */
  /* font-weight: 400; */
  color: #eee;
}

/* .nav-link:hover { */
/* color: #fff; */
/* } */

.nav-logo {
  /* font-size: 2.1rem; */
  /* font-weight: 500; */
  color: #fff;
}

.nav-item {
  padding: 0 50px 0 50px;
}

.hamburger.in-screen .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.in-screen .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.in-screen .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.gallery {
  margin: 10px;
  padding: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 5px;

  -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
}

.seccion-title {
  height: 10vh;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.item-gallery {
  border-radius: 5px;

  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
}

.avatar {
  border-radius: 50%;
  max-width: 80%;
  width: 400px;
  height: auto;
}

.biografy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.biografy p {
  text-align: center;
  padding: 20px;
}

/* stilos del form */
.form {
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item {
  width: 60%;
  height: 40px;
  margin: 5px;
  padding: 10px;
}

.textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  resize: none;
  height: 100px;
}

.btn {
  background-color: #000;
  border: none;
  color: white;
  transition: 0.25s;
}

.btn:hover {
  color: black;
  background-color: #999;
}

footer {
  background-color: #000;

  height: 300px;
  font-size: 34pt;
  color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  font-size: 12pt;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    border: 1px solid #cfcfcf;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57);
  }

  .nav-menu.in-screen {
    left: 0;
  }

  .nav-item {
    /* margin: 2.5rem 0; */
    width: 100%;
  margin-left: 0;
    height: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    /* -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57); */
    /* box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.57); */
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-link {
    /* font-size: 1.6rem; */
    /* font-weight: 400; */
    color: #000;
  }
}

@media (max-width: 760px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .navigator {
    height: auto;
    /* justify-content: center; */
    justify-content: space-between;
    flex-direction: column;

    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* .bar { */
  /* color: white; */
  /* font-size: 24pt; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* text-align: center; */
  /* } */

  /* .nav-item { */
    /* height: 10vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* text-align: center; */
  /* } */
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
